.headerWrapper{
  display: grid;  
  grid-template-columns: auto;
  margin-bottom: 3vw;
  position: fixed;
  z-index: 5;
  transition: all 1s;
  position: fixed;
  width: 100%
}

.HeaderDataWrapper {
  background-color: rgba(220, 194, 156, 1);
  transition: all 1s;
  position: fixed;
  width: 100%;
  margin: 0;
  padding-bottom: 0.5vw;
}

.adressWrapper {
  justify-content:space-between;
  display: flex;
  background-color: rgba(220, 194, 156, 1);
  width: 100%;
  padding: 2vw 0.4vw;
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: Montserrat;
  font-size: 2vw;
}

.btn {
  margin: 0.3vw 0.5vw;
  width: 15vw;
  height: 80%;
  border-style: none;
  background-color: rgba(44,44,44,1);
  color: white;
  font-size: 1.7vw;
  font-family: Montserrat;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.8;
}

.logoWrapper{
    grid-row: 2/3;
    grid-column: 1/2; 
    padding-top: 0.7vw; 
}

.logo{
  height: auto;
  padding-left: 4vw;
}

.btnWrapper {
  grid-row: 2/3;
  grid-column: 2/3;
}

.button55 {
  margin: 0vw;
  align-self: center;
  background-color: #f1ebe7;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: none;
  border-width: 2px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 2vw;
  line-height: 1vw;
  outline: none;
  padding: 3.5vw 2.4vw 2vw 2.4vw;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  opacity: 0.7;
  color: blue;
  
}

.button55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* --------------------------------------------------------- */
@media (min-width: 1000px) {
.logoWrapper{
  grid-row: 2/3;
  grid-column: 1/2;  
}

.logo{
height: auto;
padding-left: 4vw;
}

.headerWrapper{
  display: grid;  
  grid-template-columns: auto;
  margin-bottom: 30px;
  position: fixed;
  z-index: 5;
}

.HeaderDataWrapper {
background-color: rgba(220, 194, 156, 1);
}

.adressWrapper {
justify-content:space-between;
font-size: 1.2vw;
display: flex;
background-color: rgba(220, 194, 156, 1);
width: 100%;
padding: 1vw 4vw;
grid-row: 1/2;
grid-column: 2/3;
}

.btnWrapper {
grid-row: 2/3;
grid-column: 2/3;
}

.logoWrapper {
grid-row: 2/3;
grid-column: 1/2;
}

.btnHeaderDataWrapper {
margin: 0.4vw 0;
padding: 0 4vw;
}

.btn {
margin: 0 2vw;
width: 10vw;
height: 80%;
border-style: none;
background-color: rgba(44,44,44,1);
color: white;
font-size: 1rem;
font-family: Montserrat;
font-weight: 500;
}

.button55 {
  margin: 2vw;
align-self: center;
background-color: #f1ebe7;
background-image: none;
background-position: 0 90%;
background-repeat: repeat no-repeat;
background-size: 4px 3px;
border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
border-style: none;
border-width: 2px;
box-sizing: border-box;
color: #41403e;
cursor: pointer;
display: inline-block;
font-size: 1.2rem;
line-height: 23px;
outline: none;
padding: .75rem;
text-decoration: none;
transition: all 235ms ease-in-out;
border-bottom-left-radius: 15px 255px;
border-bottom-right-radius: 225px 15px;
border-top-left-radius: 255px 15px;
border-top-right-radius: 15px 225px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

}