.HeroWrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 30vw;
    transition: 0.2s
}

.HeroWrapper p{
    margin-left: 1vw;
    position: absolute;
    left: 0;
    z-index: 4;
    font-size: 12vw;
    font-family: Italianno;
    text-align: center;
    width: 50%;
}

.logo {
    width: 75vw;
    right: 0;
}

@media (min-width: 1000px) {

    .HeroWrapper p{
        font-size: 7vw;
    }

}

