.meWrapper {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 0 5vw 0;
    padding: 2vw 2vw;
    line-height: 3.2vw;
    background-color: rgba(220, 194, 156, 1);
}

.meWrapper p {
    padding: 3vw;
    font-size: 1.9vw;
}

.myPhoto {
    text-align: center;
    width: 70vw;
    height: 49vw;
    /* padding: 2vw 20vw; */

}

.emptyDiv {
    padding-top: 20vw;
}


@media (min-width: 1000px) {

    .meWrapper {
        flex-direction: row;
        text-align: center;
        display: flex;
        margin: 0 0 5vw 0;
        line-height: 2.5vw;
        padding: 0;
    }
    
    .meWrapper p {
        font-size: 1.5vw;
        padding: 1.5vw;
    }
    
    .myPhoto {
        width: 50vw;
        padding-right: 3vw;
    
    }
    
    .emptyDiv {
        padding-top: 22vw;
    }
}