.masonry {
	column-count: 3;
	/* column-gap: 1vw; */
    padding-top: 22vw;
    margin: 0 3vw;
}

.masonry, .picturesWrapper {
  display: inline-block;
  margin-bottom: 2vw;
  width: 90%;
}

.pictures {
    width: 27vw;
  }
