.masonry {
	  column-count: 2;
    padding-top: 40vw;
    margin: 0 3vw;
    height: auto;
}

.masonry, .picturesWrapper {
  /* display: inline-block; */
  margin-bottom: 2vw;
  width: 90%;
}

.pictures {
    width: 44vw;
  }

  @media (min-width: 768px) {
    .masonry {
      column-count: 3;
      padding-top: 22vw;
    }
    
    .pictures {
        width: 27vw;
      }
  }