.mapa {
    border-radius: 30px;

}

.MainWrapper {
    display: flex;
    background-image: url(IMG_2026.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 4vw 0;
    height: 40vw;
    /* background: black; */
    opacity: 0.9;
    justify-content: left;
}

.reservationWrapper {
    height: 25vw;
    width: 50vw;
    margin: 11vw 2vw;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: white;  
    z-index: 3;
}

.reservationWrapper span{
    font-size: 1.1rem;
    font-weight: 400;
} 

.btnReservation {
    margin-top: 2vw;
}

.btnReservationWrapper {
    border-style: solid;
    border-color: white;
    padding: 1.2vw;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
}

.btnReservationWrapper:hover {
    /* background-color: black; */
    opacity: 0.6;
}


