.burger-menu {
    position: absolute;
    top: 13vw;
    right: 40px;
    z-index: 10;
}

.burger-button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.burger-line {
    width: 30px;
    height: 2px;
    background: #000;
    z-index: 10;
}

.burger-button.open {
    transform: rotate(45deg);
    z-index: 10;
}

.menu {
    position: absolute;
    width: 70vw; 
    height: 100vw;
    z-index: 10;
    top: 70px;
    /* rightpx; */
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px #000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.menu.open {
    transform: translateX(0);
    z-index: 10;
    right: 0vw;
}

.menu a {
    margin: 10px 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    z-index: 10;
}

