.burger-menu {
  padding-left: 80vw;
  padding-top: 15vw;
  justify-content: center;
}

.burger-button {
  position: absolute;
  width: 15vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burger-line {
  width: 8vw;
  height: 0.5vw;
  background: rgba(44, 44, 44, 1);
  z-index: 10;
}

.burger-button.open {
  transform: rotate(45deg);
  z-index: 10;
}

.menu {
  position: fixed;
  margin-top: 10vw;
  width: 50vw;
  height: 60vw;
  z-index: 30;
  display: flex;
  flex-direction: column;
  background: rgba(44, 44, 44, 1);
  padding: 20px;
  /* box-shadow: 0 0 10px #000; */
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.menu.open {
  transform: translateX(0);
  z-index: 30;
}

.menuLink {
  text-decoration: none;
  border-style: none;
  padding: 2vw 2vw;
  background-color: transparent;
  font-size: 5vw;
  z-index: 10;
  color: white;
}

.menu a:visited {
  color: white;
}

.exitWrapper {
  width: 100%;
  text-align: end;
}

.exit {
  border-style: none;
  background-color: transparent;
  font-size: 6vw;
}

.exit p {
  color: white;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .burger-button {
    display: none;
  }

  .menu {
    display: none;
  }
}
