.FooterWrapper {
  background-color: #e7ded8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vw;
  grid-template-rows: auto;
  height: 28vw;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

.icon {
  font-size: 50px;
  padding: 1vw;
  color: #41403e;
}

.icon:hover {
  color: rgba(44, 44, 44, 1);
  opacity: 0.7;
}

.iconPhone {
  grid-column: 1;
  grid-row: 1 / 2;
  font-size: 20px;
  padding-right: 1vw;
}

.iconMap {
  grid-column: 1;
  grid-row: 2 / 3;
  font-size: 20px;
  padding-right: 1vw;
}

.footerLogo {
  width: 10vw;
}

.socialMedia {
  text-align: center;
  justify-items: center;
  margin-top: 5vw;
}

.kontaktWrapper {
  text-align: center;
  justify-items: center;
}

h5 {
  font-family: Montserrat;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.kontakt {
  display: flex;
  flex-direction: column;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: auto;
  gap: 1vw;
  text-align: center;
  font-size: 18px;
  align-items: center;
  margin-top: 2vw;
  color: rgba(44, 44, 44, 1);
  font-family: Montserrat;
}

.HouersWrapper {
  text-align: center;
  justify-items: center;
  margin-top: 5vw;
  color: rgba(44, 44, 44, 1);
  font-family: Montserrat;
}

.copyrightWrapper {
  text-align: center;
  background-color: #e7ded8;
  margin: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
}

.footerWrapper span,
h7 {
  font-family: Montserrat;
  color: #41403e;
}

.btn {
  margin: 2vw 2vw;
  width: 10vw;
  height: 3.5vw;
  border-style: none;
  background-color: rgba(44, 44, 44, 1);
  color: white;
  font-size: 1.2vw;
  font-family: Montserrat;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.6;
}
