.FooterWrapper {
  background-color: #e7ded8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vw;
  grid-template-rows: auto;
  height: 31vw;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

.icon {
  font-size: 6vw;
  padding: 1vw;
  color: #41403e;
}

.icon:hover {
  color: rgba(44, 44, 44, 1);
  opacity: 0.7;
}

.iconPhone {
  grid-column: 1;
  grid-row: 1 / 2;
  font-size: 2.5vw;
  padding-right: 1vw;
}

.iconMap {
  grid-column: 1;
  grid-row: 2 / 3;
  font-size: 2.5vw;
  padding-right: 1vw;
}

.footerLogo {
  width: 10vw;
}

.socialMedia {
  text-align: center;
  justify-items: center;
  margin-top: 5vw;
}

.kontaktWrapper {
  text-align: center;
  justify-items: center;
}

h5 {
  margin: 0;
  font-size: 2vw;
  font-weight: 500;
}

.kontakt {
  display: flex;
  flex-direction: column;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: auto;
  gap: 1vw;
  text-align: center;
  font-size: 1.7vw;
  align-items: center;
  margin-top: 1vw;
}

.HouersWrapper {
  text-align: center;
  justify-items: center;
  margin-top: 5vw;
}

.copyrightWrapper {
  text-align: center;
  background-color: #e7ded8;
  margin: 0;
  font-size: 2vw;
  border-top-style: solid;
  border-top-width: 0.6px;
  border-top-color: #41403e;;
}

p {
  margin: 0;
}

.btn {
  margin: 2vw 2vw;
  width: 14vw;
  height: 5vw;
  border-style: none;
  background-color: rgba(44, 44, 44, 1);
  color: white;
  font-size: 2.1vw;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.6;
}


/* ------ */

@media (min-width: 1000px) {

  .FooterWrapper {
    height: 28vw;
  }
    
  .icon {
    font-size: 4vw;
  }

  .iconPhone {
    font-size: 2vw;
  }
  
  .iconMap {
    font-size: 2vw;
  }
  
  h5 {
    margin: 0;
    font-size: 1.9vw;
  }
  
  .kontakt {
    font-size: 1.7vw;
  }

  .btn {
    width: 10vw;
    height: 3.5vw;
    font-size: 1.2vw;
  }

  .copyrightWrapper {
    font-size: 1vw;
  }
}